__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.pytest_tmp*/
tmp_pytest_safe*/
local_pytest_temp_test/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

/.venv/
/venv/
/env/

/outputs/
data/logs/
data/videos/
data/pointclouds/
data/debug_frames/

.ipynb_checkpoints/
.DS_Store
Thumbs.db
