__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.venv/
venv/
/env/

outputs/
data/logs/
data/videos/
data/pointclouds/
data/debug_frames/

.ipynb_checkpoints/
.DS_Store
Thumbs.db
